
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


/* 
font-family: 'Heebo', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */

html, body{
    overflow-x: hidden;
}   

body{
    margin: 0px;
    padding: 0px;
}


/* bg */


.bg-img{
    /* border: 2px solid red; */
    height: 100vh;
    width: 100vw;
    background-image: url("./resources/pexels-pok-rie-1655166.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index:1;
    position: relative;
}

.bg-img::before{
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.436);
    /* opacity: 0.6; */
}

.quote-container{
    z-index: 2;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Poppins', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}   

.quote{
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.credits{
    position: absolute;
    bottom: 30px;
    right: 0;
    font-size: 1.3rem;
    font-weight: 200;
}

.btn{
    cursor: pointer;
    background: none;
    border: 2px solid white;
    color: white;
    font-size: 1.1rem;
    padding: 10px 30px;
    border-radius: 100px;
    transition: 100ms color ease-in-out, 100ms background-color ease-in-out;
    margin: 0px 10px;
    margin-top: 20px;
}

.btn:hover{
    background-color: white;
    color: black;
}


.nav{
    /* border: 2px solid red; */
    background: none;
    position: absolute;
    z-index: 3;
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
}

.nav h2{
    font-size: 2rem;
}